body{
background-color:#fefdfa;
color:#646464;
font-family:"Helvetica Neue", "Liberation Sans", Arial, sans-serif;
margin:0;
padding:0;
}

h1,h2{
font-family:'UbuntuBold', sans-serif;
font-weight:normal;
}
h1{
color:#0d579b;
font-size:160%;
}
h2{
color:#383838;
font-size:130%;
}
h3{
color:#383838;
font-size:100%;
}

a:link,a:visited,a:active{
color:#4892b2;
}
a:link:hover,a:visited:hover,a:active:hover{
color:#75bfdf;
}
a img{
border:0;
}

#container1{
background-color:#fff;
}
#container2{
background-color:#323232;
border-bottom:3px solid #000;
border-top:3px solid #000;
}

#back1{
background:fixed url(../img/back2.png) repeat;
}
#back2{
background:fixed url(../img/back1.png) repeat;
}

#lang{
position:absolute;
top:4px;
right:0px;
font-size:94%;
padding:0;
background:url(../img/lang.png) left no-repeat;
list-style:none;
margin:0px;
}
#lang li,#lang ul{
list-style:none;
padding:0px;
margin:0px;
}
#lang>li>ul{
display:none;
position:absolute;
left:0px;
top:20px;
text-align:left;
background-color:#fff;
}
#lang>li:hover>ul{
display:block;
}
#lang a,#lang a:link,#lang a:visited,#lang a:active{
padding:0px 2px 0px 24px;
text-decoration:none;
color:#000;
font-weight:bold;
font-size:16px;
}
#lang>li>ul>li>a,#lang>li>ul>li>a:link,#lang>li>ul>li>a:visited,#lang>li>ul>li>a:active{
color:#5c5c5c;
}
#lang>li>ul>li:hover>a{
color:#000;
background:url(../img/lang.png) left no-repeat;
}

#logo{
position:absolute;
left:0px;
top:20px;
}
#logo a{
display:block;
background-image:url(../img/logotop.png);
width:191px;
height:40px;
}
#logo span{
display:none;
}
#logotext{
margin-left:220px;
font-size:22px;
font-family:'UbuntuItalic', sans-serif;
display:inline-block;
padding-top:6px;
color:#9b9b9b;
white-space:nowrap;
}

#rightbox{
width:210px;
height:200px;
position:absolute;
right:0px;
top:5px;
border-radius:5px;
-webkit-border-radius:5px;
padding:5px;
}
#download>a:first-child,#before>a:first-child,#start>a:first-child,#support>a:first-child{
padding:10px;
color:#fff;
display:block;
text-align:left;
margin-bottom:10px;
text-decoration:none;
font-weight:bold;
border-radius:5px;
-webkit-border-radius:5px;
}
#download img,#before img,#start img,#support img{
vertical-align:middle;
margin-right:10px;
}
#before>a:first-child,#start>a:first-child,#support>a:first-child{
background-color:#2c6fad;
background-image:linear-gradient(bottom, #20598f 14%, #2c6fad 70%);
background-image:-o-linear-gradient(bottom, #20598f 14%, #2c6fad 70%);
background-image:-moz-linear-gradient(bottom, #20598f 14%, #2c6fad 70%);
background-image:-webkit-linear-gradient(bottom, #20598f 14%, #2c6fad 70%);
background-image:-ms-linear-gradient(bottom, #20598f 14%, #2c6fad 70%);
}
#before>a:first-child:hover,#start>a:first-child:hover,#support>a:first-child:hover{
background-image:linear-gradient(bottom, #2c6fad 14%, #2c6fad 70%);
background-image:-o-linear-gradient(bottom, #2c6fad 14%, #2c6fad 70%);
background-image:-moz-linear-gradient(bottom, #2c6fad 14%, #2c6fad 70%);
background-image:-webkit-linear-gradient(bottom, #2c6fad 14%, #2c6fad 70%);
background-image:-ms-linear-gradient(bottom, #2c6fad 14%, #2c6fad 70%);
}
#download>a:first-child{
padding:15px 10px;
background-color:#e67711;
background-image:linear-gradient(bottom, #cc6100 14%, #e7750c 70%);
background-image:-o-linear-gradient(bottom, #cc6100 14%, #e7750c 70%);
background-image:-moz-linear-gradient(bottom, #cc6100 14%, #e7750c 70%);
background-image:-webkit-linear-gradient(bottom, #cc6100 14%, #e7750c 70%);
background-image:-ms-linear-gradient(bottom, #cc6100 14%, #e7750c 70%);
}
#download>a:first-child:hover{
background-image:linear-gradient(bottom, #e7750c 14%, #e7750c 70%);
background-image:-o-linear-gradient(bottom, #e7750c 14%, #e7750c 70%);
background-image:-moz-linear-gradient(bottom, #e7750c 14%, #e7750c 70%);
background-image:-webkit-linear-gradient(bottom, #e7750c 14%, #e7750c 70%);
background-image:-ms-linear-gradient(bottom, #e7750c 14%, #e7750c 70%);
}

#menufor{
margin:0px 0px 0px 210px;
padding:0px;
height:40px;
overflow:hidden;
}
#menufor li{
list-style:none;
background-position:15px 63px;
float:left;
}
#menufor li a,#menufor li a:active,#menufor li a:visited,#menufor li a:link{
font-family:'UbuntuBold', sans-serif;
font-size:17px;
display:block;
text-decoration:none;
background-repeat:no-repeat;
background-position:6px 10px;
padding:10px 6px 10px 34px;
border-top-left-radius:5px;
border-top-right-radius:5px;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
}
#menufor>li:hover>a{
background-position:6px -14px;
}
#menufor>li:first-child>a{
padding-left:0px;
color:#000;
font-family:'UbuntuBoldItalic',sans-serif;
}
#menufor>li:first-child+li>a{
color:#2c6fad;
background-image:url(../img/icon-ind.png);
}
#menufor>li:first-child+li:hover>a{
color:#fff;
background-color:#2c6fad;
}
#menufor>li:first-child+li+li>a{
color:#e67711;
background-image:url(../img/icon-bus.png);
}
#menufor>li:first-child+li+li:hover>a{
color:#fff;
background-color:#e67711;
}
#menufor>li:first-child+li+li+li>a{
color:#0c920c;
background-image:url(../img/icon-org.png);
}
#menufor>li:first-child+li+li+li:hover>a{
color:#fff;
background-color:#0c920c;
}
#menufor>li:first-child+li+li+li+li>a{
color:#000;
background-image:url(../img/icon-dev.png);
}
#menufor>li:first-child+li+li+li+li:hover>a{
color:#fff;
background-color:#000;
}
#menufor>li:first-child+li+li+li+li+li>a{
color:#cb212d;
background-image:url(../img/icon-ent.png);
}
#menufor>li:first-child+li+li+li+li+li:hover>a{
color:#fff;
background-color:#cb212d;
}

.wrap{
width:970px;
margin:auto;
position:relative;
}

#menu{
padding:0px;
margin:0px;
margin:auto;
position:relative;
left:-6px;
height:32px;
}
#menu li{
list-style:none;
background-repeat:no-repeat;
background-position:15px 63px;
float:left;
border-radius:3px;
-webkit-border-radius:3px;
}
#menu li a,#menu li a:active,#menu li a:visited,#menu li a:link{
font-family:'Ubuntu', sans-serif;
height:20px;
font-size:90%;
display:block;
color:#dddddd;
text-decoration:none;
padding:6px 10px;
}
#menu li:hover a{
color:#000;
}
#menu li:hover{
background-color:#fff;
}

#content{
position:relative;
left:-40px;
padding:20px 200px 20px 40px;
width:740px;
text-align:justify;
background-color:#fff;
min-height:400px;
}

.index{
padding:20px;
border:2px dashed #4892b2;
display:inline-block;
}
.index>a,.index>a:link,.index>a:active,.index>a:visited{
display:block;
text-decoration:none;
}

.box{
width:600px;
border:2px dashed #4892b2;
padding:0px 20px 0px 20px;
}

.contributors{
width:900px;
}
.contributors a{
font-size:13px;
}
.contributors td{
padding:6px 0px;
}

.ressources li{
font-size:18px;
padding-top:6px;
}
.ressources a,.ressources a:link,.ressources a:active,.ressources a:visited{
text-decoration:none;
}
.ressources>li{
font-weight:bold;
}
.ressources>li>ul>li{
font-weight:normal;
}

.preview{
width:900px;
}
.previewcol{
clear:both;
}
.previewcol .previewrow:first-child{
padding-left:0px;
}
.previewrow{
float:left;
width:270px;
text-align:justify;
padding-left:40px;
font-size:14px;
}

.alert-message{
background-color:#f5a6a4;
border:1px solid #f53e38;
margin-top:20px;
padding:10px;
width:700px;
color:#000;
}
.alert-message.error{
background-color:#f5a6a4;
border-color:#f53e38;
}
.alert-message.success {
background-color:#9dc49d;
border-color:#008300;
}
.alert-message.info{
background-color:#a7deee;
border-color:#1988aa;
}

.versiontext{
text-align:left;
}

#footer{
position:relative;
left:-40px;
padding-left:40px;
padding-bottom:40px;
text-align:left;
margin-right:30px;
font-size:14px;
background-color:#fff;
}
#footer>div{
float:left;
margin-right:200px;
padding-top:6px;
border-top:#cfcfcf 2px solid;
}

@font-face{
font-family:'UbuntuRegular';
src:url('../font/ubuntu-r-webfont.eot');
src:url('../font/ubuntu-r-webfont.eot?iefix') format('eot'),
url('../font/ubuntu-r-webfont.woff') format('woff'),
url('../font/ubuntu-r-webfont.ttf') format('truetype'),
url('../font/ubuntu-r-webfont.svg#webfontKT0zjHSC') format('svg');
font-weight:normal;
font-style:normal;
}
@font-face{
font-family:'UbuntuItalic';
src:url('../font/ubuntu-ri-webfont.eot');
src:url('../font/ubuntu-ri-webfont.eot?iefix') format('eot'),
url('../font/ubuntu-ri-webfont.woff') format('woff'),
url('../font/ubuntu-ri-webfont.ttf') format('truetype'),
url('../font/ubuntu-ri-webfont.svg#webfontGetaoUfe') format('svg');
font-weight:normal;
font-style:normal;
}
@font-face{
font-family:'UbuntuBold';
src:url('../font/ubuntu-b-webfont.eot');
src:url('../font/ubuntu-b-webfont.eot?iefix') format('eot'),
url('../font/ubuntu-b-webfont.woff') format('woff'),
url('../font/ubuntu-b-webfont.ttf') format('truetype'),
url('../font/ubuntu-b-webfont.svg#webfontEreyFiHC') format('svg');
font-weight:normal;
font-style:normal;
}
@font-face{
font-family:'UbuntuBoldItalic';
src:url('../font/ubuntu-bi-webfont.eot');
src:url('../font/ubuntu-bi-webfont.eot?iefix') format('eot'),
url('../font/ubuntu-bi-webfont.woff') format('woff'),
url('../font/ubuntu-bi-webfont.ttf') format('truetype'),
url('../font/ubuntu-bi-webfont.svg#webfontf1YowZka') format('svg');
font-weight:normal;
font-style:normal;
}
